.login {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login__left-section {
  position: relative;
  width: 50vw;
  height: 100%;
  background-color: black;
}

.login__left-section__title {
  color: #ffffff;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
  line-height: 3vw;
  font-size: 2vw;
  top: 5vw;
  left: 2vw;
  white-space: pre-wrap;
}

.login__left-section__img {
  width: 50vw;
  height: 100%;
}

.login__right-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 100%;
}

.login__right-section__header {
  margin-top: 10vh;
  text-align: center;
}

.login__right-section__header__title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}

.login__right-section__header__logo {
  width: 3vw;
  padding: 1vw;
}

.login-form {
  min-width: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 3vh;
}

.login-form__wrapper {
  width: 80%;
}

.login-form__input {
  width: 100%;
  font-size: 1em;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 2vw;
  margin-top: 2vh;
}

.mat-button_unen {
  background-color: #2CA58D;
  border-radius: 50px;
  width: 10vw;
  margin-left: 5vw;
}