<div class="login">
  <section class="login__left-section">
    <img class="login__left-section__img" src="../../../assets/img/copenhagen-museum.jpg" alt="">
    <h1 class="login__left-section__title">{{ title }}</h1>
   </section>
  <section class="login__right-section">
    <div class="login__right-section__header">
      <img class="login__right-section__header__logo" src="../../../assets/logo.svg" alt="logo">
      <h1 class="login__right-section__header__title">{{form_title}}</h1>
    </div>
  <form class="login-form">
    <mat-form-field class="login-form__wrapper" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput class="login-form__input" type="text" id="email"  [(ngModel)]="email" name="email" required>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field class="login-form__wrapper" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput class="login-form__input" type="password" id="password"  [(ngModel)]="password" name="password" required>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button class="login-form__button__submit" mat-button color="button_unen" (click)="login()">Connect</button>
  </form>
  </section>
</div>