<mat-toolbar>
  <mat-toolbar-row>
    <span>Ünen</span>
    <span class="spacer"></span>

    <button mat-button *ngFor="let nav of navList" [color]="nav.color" (click)="redirectTo(nav.route)">{{nav.name}}</button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>