
.home {
    height: 100%;
    background: url("https://emag.directindustry.com/wp-content/uploads/sites/3/cover_HD.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-content: center;
    justify-content: center;
    display: flex;
}
h2 {
    color:#FFFDF7;
    font-size: 32px;
    text-align: center;
    padding-top: 5%;
}
.try-it {
    color:#FFFDF7;
    background-color: #FF8811;
    text-align: center;
    font-size: 24px;
    border-radius: 32px;
    margin: auto;
    height: 6%;
    width: 32%;
    top: 50%;
    position: absolute;
}

